@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  gap: 15px;
  background-color: black;
}

.main-titulo {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  color: #21EB00;
}

.main-subtitulo {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: gray;
}

.main-input {
  border: none;
  background-color: #191A18;
  color: gray;
  height: 50px;
  width: 400px;
  text-align: center;
  font-size: 25px;
  border-radius: 25px;
  outline: 0;
  padding-right: 20px;
}

.main-botao {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  border-radius: 25px;
  height: 50px;
  width: 420px;
  background-color: #21EB00;
  border: none;
  outline: 0;
  cursor: pointer;
}

.validate-date {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: red;
}

@media screen and (max-width: 700px) {
  .main-input {
    height: 50px;
    width: 300px;
    padding-right: 20px;
  }

  .main-botao {
    height: 50px;
    width: 320px;
  }
}